* {
    box-sizing: border-box;
}

main {
    width: 80%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    
}

.lampa {
    border: 1px solid black;
    border-radius: 30px;
}

footer {
    font-weight: bold;
}

.jatekter {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    gap: 10px;
    width: 170px;
    margin: auto;
    padding-bottom: 20px;
}